.container {
    
}

.window {
    width:500px;
    overflow: hidden;
}

.reel {
    position:relative;
}

.piece {
    float:left;
}

.page {
    float:left;
    margin-right: 3px;
}

#pages2 .page {
    float:left;
    margin-right: 3px;
    width: 10px;
    height: 10px;
    background-color: blueviolet;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.active {
    color: red;
}